@import "../app/variables.module.scss";

.title {
  padding: 0.25rem;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

.line {
  width: 100%;
  border-bottom: 1px solid $gray-text;
  margin: 10px 0;
}

.inputContents {
  margin-bottom: 1rem;
  padding: 0.5rem;
  min-height: 80px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

.contents {
  margin-bottom: 0.5rem;
}

.reactions,
.edit {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;

  .reactionItems {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;

    .reaction {
      border: none;
      background-color: transparent;
      cursor: pointer;

      svg {
        font-size: 1.75rem;
      }

      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
      }

      &:active {
        transform: translate(0.1rem, 0.1rem);
      }
    }
  }
}
