@import "../app/variables.module.scss";
@import "../app/mixin.scss";

.header {
  width: 100%;
  min-height: 100px;
  max-height: 150px;
  padding: 20px;
  background-image: url("/img-header.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-family: "Yellowtail";
    font-size: 3rem;
    color: $primary;

    @include responsive("lg") {
      font-size: 2rem;
    }

    @include responsive("xs") {
      font-size: 1.2rem;
    }
  }
}
