@import "../app/variables.module.scss";

.header {
  width: 100%;
  height: 100px;

  .img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .title {
    font-family: "Yellowtail";
    font-size: 3.5rem;
    color: $primary;

    position: absolute;
    top: 2%;
    left: 3%;
    white-space: nowrap;
  }
}
