@import "../variables.module.scss";

.line {
  width: 100%;
  border-bottom: 1px solid $gray-text;
  margin: 1rem 0;
}

.commentsHeader {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.commentsContents {
  display: flex;
  justify-content: space-between;

  .bin {
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      font-size: 1.25rem;
    }

    &:active {
      transform: translate(0.1rem, 0.1rem);
    }
  }
}

.leaveCommentsWrapper {
  display: grid;
  align-items: end;
  height: 100%;
  margin-bottom: 2rem;

  .leaveComments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    textarea {
      padding: 0.5rem;
      height: 5rem;
      font-size: 1rem;
    }

    .submit {
      display: flex;
      justify-content: flex-end;
    }
  }
}
