@use "../../../variables.module.scss";
@use "../../../mixin.scss";

.modalWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;

  .modalContainer {
    width: 60%;
    height: 90%;
    max-width: 600px;
    min-width: 350px;
    background-color: variables.$blue-background;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

    @include mixin.responsive("sm") {
      width: 90%;
    }

    @include mixin.responsive("md") {
      width: 80%;
    }

    .modal {
      margin: 1rem;
      padding: 0.5rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .buttons {
          display: flex;
          gap: 1rem;

          .closeButton {
            color: variables.$primary;
            border: none;
            background-color: transparent;
            font-size: 2rem;
            cursor: pointer;
          }
        }
      }

      .line {
        width: 100%;
        border-bottom: 1px solid variables.$gray-text;
        margin: 10px 0;
      }
    }
  }
}
