@use "variables.module.scss";
@use "mixin.scss";

.page {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: variables.$gray-background;
  overflow: hidden;

  @include mixin.responsive("lg") {
    flex-direction: column;
  }

  @include mixin.responsive("xl") {
    justify-content: center;
  }
}
